# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# ------------------
# Source code
# ------------------
# All files
# Don't use tabs for indentation.
[*]
indent_style = space
charset = utf-8
end_of_line = lf
indent_size = 4
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# C++ source files
[*.{cpp,h,hpp}]
indent_size = 2

# CMake configuration files
[CMakeLists.txt,CMakeSettings.json,*.cmake{,.in}]
indent_size = 2

# Override for Makefile
[{Makefile, makefile, GNUmakefile}]
indent_style = tab

# CI configuration files
[Vagrantfile]
indent_size = 2

# 2 space indentation for markdown and yaml config files
[*.{md,Rmd,rst,yml,yaml,json,toml}]
indent_size = 2

# Windows shell scripts
[*.{bat,cmd,ps1}]
end_of_line = crlf
insert_final_newline = false

# Unix shell scripts
[*.sh]
end_of_line = lf
insert_final_newline = false

# Python scripts
[*.{py,pyi}]
indent_style = space
indent_size = 4

# Visual studio property sheets
[*.{props,targets}]
indent_size = 2
indent_style = space

[*.html]
indent_style = space
indent_size = 2

[**.{md,mdx,txt,rst}]
indent_style = space
trim_trailing_whitespace = false
insert_final_newline = false


[LICENSE]
insert_final_newline = false
