/app/assets/javascripts/locale/**/app.js

/fixtures/lib/gitlab/graphql/
/node_modules/
/public/
/vendor/
/tmp/
/sitespeed-result/
/.mypy_cache/
/build/
.mypy_cache
.pytest_cache
.ruff_cache
.clang-tidy
pnpm-lock.yaml
yarn.lock
docs/.gitpod.yml
docs/node_modules
docs/.changeset
docs/pnpm-lock.yaml
docs/yarn.lock
docs/overrides/*.html
*.ts
*.wxs
*.md
*.mdx
CMakeLists.txt
compile_commands.json
CONTRIBUTORS
LICENSE
LICENSES/
project-words.txt
out
build
image
dist
bin
.vscode-test
Pipfile.lock
result*
*.delta
*.lock
