.autodoc-docstring {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid;
  border-left-color: rgb(230 230 230);
}

.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}
